.image-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem; 
}

.image-preview-area {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.uploaded-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 500px !important;
  object-fit: contain;
}

.custom-react-crop {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.ReactCrop__crop-selection {
  border: 3px solid #f6b51e; 
}

.ReactCrop__drag-bar {
  background-color: #F4D03F;
}

.ReactCrop__crop-selection::after {
  display: none;
}

.ReactCrop {
  border-radius: 8px;
  overflow: hidden;
}

.ReactCrop__drag-handle:hover {
  background-color: #F4D03F;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
@keyframes dashRotate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}

.action-buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}
.replace-photo-btn {
  background: #FFECC0;
  font-family: 'Akira', 'Arial Black', sans-serif;
  color: #141414;
  border: none;
  padding: 16px 36px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  flex: 1;
}

.next-btn {
  background: rgba(246, 181, 30, 1);
  font-family: 'Akira', 'Arial Black', sans-serif;
  color: #141414;
  border: 4px solid black;
  font-size: 16px;
  font-weight: 800;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  opacity: 1;
  padding: .5rem 2rem;
  letter-spacing: -2%;
}
 .ReactCrop__drag-handle {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 768px) {
    .image-preview-area {
      border-radius:24px;
      max-width: 90%;
}
    .action-buttons {
    flex-direction: column;
    gap: 16px;
    padding: 0 1rem;
        max-width: 100%;

  }
  .replace-photo-btn{
    padding: 16px 36px;
    
  }
  .next-btn {
    padding: 16px;
  }
  }
  
