@font-face {
  font-family: 'Akira';
  src: url('/fonts/Akira.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}
.home-container {
  background:rgba(255, 250, 235, 1);
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-section {
  text-align: center;
  position: relative;
}
.logo-container{
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 100px;
  margin-top: 1rem;
  height: 25px;
  padding: 10px;
  z-index: 1;
}
.logo-container p{
  color: #1e1e1e;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 15.77px;
}
.logo-shapes {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shape {
  position: absolute;
}

.shape-pink {
  top: -70px;
  left: 60px;
}
.shape-green {
  top: -70px;
  right: 80px;
}
.logo-content {
  text-align: center;
  z-index: 1;
}
.hometitle {
  font-family: 'Akira', 'Arial Black', sans-serif;
  font-weight: 700;
  font-size: 88px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
  margin: 1rem 0;
  line-height: 0.85;
  text-transform: uppercase;
  font-stretch: condensed;
  text-shadow: none;
}

.homesubtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-style: medium;
  font-size: 24px;
  text-align: center;
  letter-spacing: -4%;
}

.cta-button {
  font-family: 'Akira', 'Arial Black', sans-serif;
  background: rgba(246, 181, 30, 1);
  color: #000000;
  border: 4px solid black;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  width: 258px;
  height: 60px;
  opacity: 1;
  padding: 16px;

 }
.samples-section {
  display: flex;
  position: relative;
  z-index: 2;
}
.samples-grid {
  width: 100%;
}
.sample-image {
  position: relative;
  overflow: visible;
  transform-style: preserve-3d;
}
.image {
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}
.mobile-section{
  display: none;
}
@media (max-width: 768px) {
.hometitle {  
  font-size: 30px;
}
.homesubtitle {
  font-size: 17px;
}
.cta-button {
  width: 100%;
}
.header {
  margin-top: 50px;
}
.shape-pink {
  top: -90px;
  left: -50px;
}
.shape-green {
  top: -70px;
  right: -80px;
}
section.samples-section{
  display: none;
}
.mobile-section {
  margin-top: 18px;
  display: flex;
  position: relative;
  z-index: 2;
}
.mobile-grid {
  width: 100%;
}
.mobile-image {
  position: relative;
  overflow: visible;
  transform-style: preserve-3d;
}
.images {
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}
}