
@font-face {
  font-family: 'Akira';
  src: url('/fonts/Akira.otf') format('opentype');
  font-weight: normal;
  font-display: swap;
}

.home-container {
  /* min-height: 100vh; */
  background:rgba(255, 250, 235, 1);
  position: relative;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.logo-section {
  text-align: center;
  position: relative;
}

.logo-shapes {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 200px;
  pointer-events: none;
}

.shape {
  position: absolute;
}

.shape-pink {
  left: -150px;
  opacity: 1;
}
.shape-green {
  right: -120px;
  opacity: 1;
}
.hometitle {
  font-family: 'Akira', 'Arial Black', sans-serif;
  font-weight: 700;
  font-size: 88px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
  margin: 1rem 0;
  line-height: 0.85;
  text-transform: uppercase;
  font-stretch: condensed;
  text-shadow: none;
}

.homesubtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  font-style: medium;
  font-size: 24px;
  text-align: center;
  letter-spacing: -4%;
}

.cta-button {
  font-family: 'Akira', 'Arial Black', sans-serif;
  background: rgba(246, 181, 30, 1);
  color: #000000;
  border: 4px solid black;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  width: 258px;
  height: 60px;
  opacity: 1;
  padding: 16px;

 }

.cta-button::before {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: left 0.5s;
}

.cta-button:hover::before {
  left: 100%;
}

.cta-button:hover {
  background: linear-gradient(135deg, #F6B51E 0%, #F6B51E 100%);
}

.samples-section {
  display: flex;
  position: relative;
  z-index: 2;
}

.samples-grid {
  width: 100%;
}

.sample-image {
  position: relative;
  overflow: visible;
  transform-style: preserve-3d;
}

.image {
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}
.mobile-section{
  display: none;
}
@media (max-width: 768px) {
  .hometitle {  
    font-size: 32px;
  }
  .homesubtitle {
    font-size: 18px;
  }
  .cta-button {
    width: 100%;
  }
  .header {
    margin-top: 100px;
}
section.samples-section{
  display: none;
}
.mobile-section {
  margin-top: 18px;
  display: flex;
  position: relative;
  z-index: 2;
}
.mobile-grid {
  width: 100%;
}
.mobile-image {
  position: relative;
  overflow: visible;
  transform-style: preserve-3d;
}
.images {
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}
}